{% if entries %}
	{% for e in entries %}
		<div class="dictbox" id="dictbox">
			<button type="button" class="collapsible">Dicionário: {{ e["simplified"] }}</button>
			<div class="content">
				<div>Caractér <text name="simplified" id="simplified" class="dictfield">{{ e["simplified"] }}</text></div>
				<div>Tradicional <text name="traditional" id="traditional" class="dictfield">{{ e["traditional"] }}</text></div>
				<div>Pinyin <text id="pinyin" class="dictfield">{{ e["pinyin"] }}</text></div>
				<div>Inglês <text id="english" class="dictfield">{{ e["english"] }}</text></div>
				<div>Português <text id="portuguese" class="dictfield">{{ e["portuguese"] }}</text></div>
			</div>
		</div>
	{% endfor %}
{% endif %}
