<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	</head>
	<body>
		<div class="box" id="getStartedBox">
			<form action="/create_project" method="POST">
				<input type="text" name="video_url" placeholder="URL do vídeo youtube">
				<input type="text" name="project_name" placeholder="Nome do Projeto">
				<input type="submit" value="Enviar">
			</form>
		</div>
		<div id="projectBox" class="box">
			{% for i in range(projects|length) %}
				{% if i == 0 %}
					<div class="box last_accessed">
				{% else %}
					<div class="box">
				{% endif %}
					<button onclick="goToProject('{{projects[i]}}')"><i class="fa-solid fa-folder-open"></i></button>
					{{projects[i]}}
				</div>
			{% endfor %}
		</div>
		<script>
			function goToProject(name){
				window.location.href = "project/" + name;
			}
		</script>
	</body>

</html>

