<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<template id="dictionaryTemplate">
		<div class="dictionary-box">

			<button type="button" class="collapsible" id="dictionaryEntryName"></button>

			<div class="collapsible-content">
				<div>
					<text id="dictionaryPinyin" class="dictionary-field"></text>
				</div>
				<div>
					<text id="dictionaryPortuguese" class="dictionary-field"></text>
				</div>
				<div>
					<text id="dictionaryEnglish" class="dictionary-field"></text>
				</div>
			</div>
		</div>
	</template>

	<template id="optionTemplate">
		<option id="realOption"></option>
        	<option id="fakeOption" disabled style="font-style:italic"></option>
	</template>


	<template id="ankiCardDialogTemplate">
		<div id="ankiCardDialog">
			<h2 id="title">Criar Cartão Anki</h2>
			<select id="dictionaryEntrySelector"></select>
			<form id="inputBox">
				<template id="fieldTemplate">
					<input type="text" id="fieldInput">
				</template>
			</form>
			<button id="submitButton">Enviar</button>
			<button id="returnButton">Voltar atrás</button>
		</div>
	</template>

	<template id="showAnkiCardsDialogTemplate">
		<template id="entryTemplate">
			<template id="fieldTemplate">
				<div id="field">
				</div>
			</template>
			<div>
				<button id="deleteAnkiCard">
					<i class="fa fa-trash"></i>
				</button>
				<button id="modifyAnkiCard">
					<i class="fa fa-pencil"></i>
				</button>
			</div>
		</template>
		<div id="ankiCardsDialog">
			<div id="counter"></div>
			<div id="ankiCardsContainer">
			</div>
		</div>
	</template>

	<template id="deleteAnkiCardConfirmationTemplate">
		<div>Tens a certeza de que pretendes deletar a seguinte carta?</div>
		<div id="ankiCard"></div>
			<template id="fieldTemplate">
				<div id="fieldName">
				</div>
				<div id="fieldValue">
				</div>
			</template>
		<div>
			<button id="confirm">Sim</button>
			<button id="return">Voltar atrás</button>
		</div>

	</template>

	<template id="imageSearchTemplate">
		<template id="imageItem">
			<div>
				<img>
			</div>
		</template>
		<div id="imageResultBox">
		</div>
	</template>

</head>
<body>

	<div id="notificationBox">
	</div>

	<div id="overlay">
	    <div id="overlayDialog">
		<div id="overlayContent">
		</div>

		<button onclick="overlay.hide()">Fechar</button>
	    </div>
	</div>

	<div class="box" id="infoBox">
		<button id="returnMainPage" onclick="window.location.href = '/'">
			<i class="fa-solid fa-arrow-right-from-bracket"></i>
		</button>
		<h2>{{project_name}}</h2>
		<h2>{{video_url}}</h2>
	</div>

	<div class="box" id="embed-box">
	<div id="youtubePlayer"></div>
	</div>

	<div class="box" id="custom-box">
		<div class="custom">
			<div class="chineseOrPinyinBox">
				<div>
					<div class="chineseBox">
						<div class="textWords" id="chineseTextWords"></div>
						<button id="copyText" onclick="chineseText.copyText()">Copiar</button>
					</div>
				</div>
			</div>
			<div class="chineseOrPinyinBox">
				<div class="textWords" id="pinyinTextWords"></div>
			</div>
			<div class="chineseOrPinyinBox">
				<div class="textWords" id="leftoverTextWords"></div>
			</div>
		</div>
	</div>

	<div class="box" id="translator-box">
		<div class="translator">
			<div>
				<text class="preview" id="preview"></text>
			</div>
			<div><div class="tt">Frase (EN)</div><text id="translatorEnglishPhrase"></text></div>
			<div><div class="tt">Frase (PT)</div><text id="translatorPortuguesePhrase"></text></div>
			<div><div class="tt" id="ttcnen">Seleção (EN)</div><text id="translatorEnglishSelection"></text></div>
			<div><div class="tt">Seleção (PT)</div><text id="translatorPortugueseSelection"></text></div>
		</div>
	</div>

	<div class="box" id="dictionaryContainer"></div>

	<div class="box" id="ankiButtonsBox">
		<button onclick="addAnkiCardButton()" id="createAnkiCardButton" class="create-anki-card">Criar cartão anki <div id="createAnkiCardButtonChinese"></div></button>
		<button onclick="showAnkiCardsDialog.show()" id="showAnkiCardsButton">Listar cartões</button>
	</div>

	<script>
		const GLOBAL_VIDEO_ID = "{{ video_id }}";
		const GLOBAL_VIDEO_URL = "{{ video_url }}";
	</script>
	<script src="{{url_for('static', filename='assert.js')}}"></script>
	<script src="{{url_for('static', filename='protocol.js')}}"></script>
	<script src="{{url_for('static', filename='Anki.js')}}"></script>
	<script src="{{url_for('static', filename='overlay.js')}}"></script>
	<script src="{{url_for('static', filename='notification.js')}}"></script>
	<script src="{{url_for('static', filename='ankiCardDialog.js')}}"></script>
	<script src="{{url_for('static', filename='showAnkiCardsButton.js')}}"></script>
	<script src="{{url_for('static', filename='youtubePlayer.js')}}"></script>
	<script src="{{url_for('static', filename='chineseText.js')}}"></script>
	<script src="{{url_for('static', filename='Translator.js')}}"></script>
	<script src="{{url_for('static', filename='ImageSearch.js')}}"></script>
	<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
