<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	<template id="dictionaryTemplate">
		<div class="dictionary-box">

			<button type="button" class="collapsible" id="dictionaryEntryName"></button>

			<div class="collapsible-content">
				<div>
					<text id="dictionaryPinyin" class="dictionary-field"></text>
				</div>
				<div>
					<text id="dictionaryPortuguese" class="dictionary-field"></text>
				</div>
			</div>
		</div>
	</template>

	<template id="optionTemplate">
		<option id="realOption"></option>
        	<option id="fakeOption" disabled style="font-style:italic"></option>
	</template>

</head>
<body>

	<div id="notificationBox">
	</div>

	<div id="overlay">
	    <div id="dialog">
		<h2>Criar Cartão Anki</h2>
		<select id="dictionaryEntrySelector" onchange="dictionaryEntrySelectorChanged()"></select>
		<input type="text" id="questionA" placeholder="Pergunta A">
		<input type="text" id="questionB" placeholder="Pergunta B">
		<input type="text" id="awnser" placeholder="Resposta">
		<input type="text" id="meaning" placeholder="Significado">
		<div>
			<button onclick="cancelAnki()">Cancelar</button>
			<button onclick="submitAnkiCardButton()">Criar</button>
		</div>
	    </div>
	</div>

	<div class="box" id="infoBox">
		<h2>{{project_name}}</h2>
		<h2>{{video_url}}</h2>
	</div>

	<div class="box" id="embed-box">
	<iframe class="embed" src="{{video_url}}" accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<div class="box" id="custom-box">
		<div class="custom">
			<div class="chineseOrPinyinBox">
				<div>
					<div class="dropdown">
						<button onclick="dropdownButtonOnClick()" class="dropbtn">Navegar</button>
						<div id="chineseOlderTexts" class="dropdown-content">
						</div>
					</div>

					<div class="chineseBox">
						<div class="textWords" id="chineseTextWords"></div>
						<button onclick="copyChineseText()">Copiar</button>
					</div>
				</div>
			</div>
			<div class="chineseOrPinyinBox">
				<div class="textWords" id="pinyinTextWords"></div>
			</div>
		</div>
	</div>

	<div class="box" id="translator-box">
		<div class="translator">
			<button onclick="fetchTranslation()">Traduzir</button>
			<div><div class="tt">Frase (EN)</div><text id="translate-zh-en"></text></div>
			<div><div class="tt" id="ttcnen">Seleção (EN)<text class="preview" id="preview"></text></div><text id="translate-zh-en2"></text></div>
			<div><div class="tt">Seleção (PT)</div><text id="translate-en-pt"></text></div>
		</div>
	</div>

	<div class="box" id="dictionaryContainer"></div>

	<button onclick="createAnkiCardButton()" class="create-anki-card">Criar cartão anki</button>


	<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
