* {
	margin: 0px;
	padding: 0px;
	spacing: 0px;
	outline: none;
	border: none;

	font-size: 30px;
	font-family: monospace;
	color: rgb(50,50,50);
}

body {
	height: 100vh;
	padding: 10px;
}

.box {
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 15px;

}

#embed-box {
	height: 50%;
}

.embed {
	width: 100%;
	height: 100%;
}

#translator-box {
	height: auto;
	display: block;
}

button {
	border-radius: 10px;
	background-color: rgb(127,127,127);
	color: white;
	font-family: arial;
	font-weight: bold;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
	box-shadow: 4px 2px 10px rgba(0,0,0,0.2);
	font-size: 30px;
	padding: 10px;
	transition-duration: 0.2s;
	cursor: pointer;
	margin: 10px;

}

button:active {
	background-color: blue;
}

.translator button {
	width: 80%;
	margin-left: 10%;
}

#custom-box {
	height: auto;
	display: block;
}

.tt {
	font-weight: bold;
	margin-right: 40px;
}

#ttcnen {
	display: flex;
	align-items: center;
}

.tt .preview {
	font-weight: normal;
	margin-left: 10px;
	font-size: 20px;
	color: rgba(30, 80, 160, 1);
}

.create-anki-card {
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.dictionary-box {
	margin: 10px;
	padding: 10px;
	border: solid rgb(50,50,50);
	border-width: 3px;
	border-radius: 10px;
}

.collapsible {
	display: flex;
	align-items: center;
}

.dict {
	width: 100%;
	height: 100%;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#dialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 50%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#dialog * {
	margin: 10px;
}

input {
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 10px;
	transition-duration: 0.2s;
	width: 90%;
}

#dialog select {
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 10px;
	transition-duration: 0.2s;
}


.chineseOrPinyinBox {
	display: flex;
	align-items: center;
}

.textWords {
	display: flex;
}

.textWords div {
	margin-right: 10px;
}

#getStartedBox {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#getStartedBox * {
	margin: 10px;
}

#infoBox {
	display: flex;
	flex-flow: column;
	align-items: center;
}
